.notification {
   
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    
}
.notification.error
{
    color: red;
    border: 3px solid red;
}
.notification.ok 
{
    color: green;
    border: 3px solid green;
}